# docker-compose.yml

services:
  web:
    build: .
    command: >
      sh -c "gunicorn --bind 0.0.0.0:8000 volna.wsgi:application"
    expose:
      - 8000

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
